{% extends 'base.html' %}

{% block content %}

<h1 class="display-4">Модуль «{{ object }}»</h1>


<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Содержание</a>
  <ul class="nav nav-pills">
  	{% for lesson in object.lessons.all %}
    <li class="nav-item">
      <a class="nav-link" href="#{{ lesson.number }}">Урок {{ lesson.number }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
	{% for lesson in object.lessons.all %}
  <h4 id="{{ lesson.number }}"><a href="{% url 'core:lesson' lesson.id %}">Урок {{ lesson.number }}</a></h4>
  {% for task in lesson.tasks.all %}
  <p>Задача {{task.number}}. <a href="{% url 'core:task' task.id %}">{{ task.name }}</a></p>
  {% endfor %}
  {% endfor %}
</div>

<h2 class="display-4">Потоки по модулю</h2>
{% for stream in object.streams.all %}
<li><a href="{% url 'core:stream' stream.id %}">{{ stream.name}}</a></li>
{% endfor %}

{% endblock %}