  
{% extends 'base.html' %}


{% block content %}
<h1 class="display-4">Задача {{ task.number }} ({{ task }}) </h1>

<p>{{ task.text }}</p>
<p><a href="{% url 'core:analyze_task' task.next_task %}">Следующая задача</a></p>

<table class="table">
	<thead>
		<tr>
			<th>Текст</th>
			<th>Ссылка</th>
			<th>Проверка</th>
		</tr>
	</thead>
	<tbody>
{% for text in result %}
<tr>
	<td>{{ text.0 }}</td>
	<td>{% if text.1.metrics %} {{ text.1.indexes.grade_SMOG }} {% else %} {{ text.1 }} {% endif %}</td>
	<td>По формуле SMOG</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}