<html>
<body>
	<ul>
{% for data in df %}
<li>Email: {{ data.email }}</li>
<li>Имя: {{ data.name }}</li>
<li>Фамилия: {{ data.last_name }}</li>
<li>Урок 1</li>
<ul>
<li>Start: {{ data.Start_1 }}</li>
<li>Help: {{ data.Help_1 }}</li>
<li>Задача 1: {{ data.task1 }}</li>
<li>Задача 2: {{ data.task2 }}</li>
<li>Задача 3: {{ data.task3 }}</li>
<li>Задача 4: {{ data.task4 }}</li>
<li>Задача 5: {{ data.task5 }}</li>
<li>Задача 6: {{ data.task6 }}</li>
<li>Задача 7: {{ data.task7 }}</li>
<li>Задача 8: {{ data.task8 }}</li>
<li>Задача 9: {{ data.task9 }}</li>
<li>Задача 10: </li>
</ul>
<li>Урок 2</li>
<ul>
	<li>Start: {{ data.Start_2 }}</li>
	<li>Help: {{data.Help_2 }}</li>
	<li>Задача 11: {{data.task11 }}</li>
	<li>Задача 12: {{data.task12 }}</li>
	<li>Задача 13: {{data.task13 }}</li>
	<li>Задача 14: {{data.task14 }}</li>
	<li>Задача 15: {{data.task15 }}</li>
	<li>Задача 16: {{data.task16 }}</li>
	<li>Задача 17: {{data.task17 }}</li>
	<li>Задача 18: {{data.task18 }}</li>
	<li>Задача 19: {{data.task19 }}</li>
	<li>Задача 20: {{data.task20 }}</li>
	<li>Задача 21: {{data.task21 }}</li>
	<li>Задача 22: {{data.task22 }}</li>
	<li>Задача 23: {{data.task23 }}</li>
	<li>Задача 24: {{data.task24 }}</li>
	<li>Задача 25: {{data.task25 }}</li>
	<li>Задача 26: {{data.task26 }}</li>
</ul>
<li>Урок 3</li>
<ul>
	<li>Start: {{data.Start_3 }}</li>
	<li>Help: {{data.Help_3 }}</li>
	<li>Задача 27: {{data.task27 }}</li>
	<li>Задача 28: {{data.task28 }}</li>
	<li>Задача 29: {{data.task29 }}</li>
	<li>Задача 30: {{data.task30 }}</li>
	<li>Задача 31: {{data.task31 }}</li>
	<li>Задача 32: {{data.task32 }}</li>
	<li>Задача 33: {{data.task33 }}</li>
	<li>Задача 34: {{data.task34 }}</li>
	<li>Задача 35: {{data.task35 }}</li>
	<li>Задача 36: {{data.task36 }}</li>
	<li>Задача 37: {{data.task37 }}</li>
	<li>Задача 38: {{data.task38 }}</li>
	<li>Задача 39: {{data.task39 }}</li>
	<li>Задача 40: {{data.task40 }}</li>
	<li>Задача 41: {{data.task41 }}</li>
	<li>Задача 42: {{data.task42 }}</li>
	<li>Задача 43: {{data.task43 }}</li>
	<li>Задача 44: {{data.task44 }}</li>
</ul>
<li>Урок 4</li>
<ul>
	<li>Start: {{data.Start_4 }}</li>
	<li>Help: {{data.Help_4 }}</li>
	<li>Задача 45: {{data.task45 }}</li>
	<li>Задача 46: {{data.task46 }}</li>
	<li>Задача 47: {{data.task47 }}</li>
	<li>Задача 48: {{data.task48 }}</li>
	<li>Задача 49: {{data.task49 }}</li>
	<li>Задача 50: {{data.task50 }}</li>
	<li>Задача 51: {{data.task51 }}</li>
	<li>Задача 52: {{data.task52 }}</li>
	<li>Задача 53: {{data.task53 }}</li>
	<li>Задача 54: {{data.task54 }}</li>
	<li>Задача 55: {{data.task55 }}</li>
	<li>Задача 56: {{data.task56 }}</li>
	<li>Задача 57: {{data.task57 }}</li>
	<li>Задача 58: {{data.task58 }}</li>
	<li>Задача 59: {{data.task59 }}</li>
	<li>Задача 60: {{data.task60 }}</li>
	<li>Задача 61: {{data.task61 }}</li>
	<li>Задача 62: {{data.task62 }}</li>
</ul>
<li>Урок 5</li>
<ul>
	<li>Start: {{data.Start_5 }}</li>
	<li>Help: {{data.Help_5 }}</li>
	<li>Задача 63: {{data.task63 }}</li>
	<li>Задача 64: {{data.task64 }}</li>
	<li>Задача 65: {{data.task65 }}</li>
	<li>Задача 66: {{data.task66 }}</li>
	<li>Задача 67: {{data.task67 }}</li>
	<li>Задача 68: {{data.task68 }}</li>
	<li>Задача 69: {{data.task69 }}</li>
	<li>Задача 70: {{data.task70 }}</li>
	<li>Задача 71: {{data.task71 }}</li>
	<li>Задача 72: {{data.task72 }}</li>
	<li>Задача 73: {{data.task73 }}</li>
	<li>Задача 74: {{data.task74 }}</li>
	<li>Задача 75: {{data.task75 }}</li>
	<li>Задача 76: {{data.task76 }}</li>
</ul>
<li>Урок 6</li>
<ul>
	<li>Start: {{data.Start_6 }}</li>
	<li>Help: {{data.Help_6 }}</li>
	<li>Задача 77: {{data.task77 }}</li>
	<li>Задача 78: {{data.task78 }}</li>
	<li>Задача 79: {{data.task79 }}</li>
	<li>Задача 80: {{data.task80 }}</li>
	<li>Задача 81: {{data.task81 }}</li>
	<li>Задача 82: {{data.task82 }}</li>
	<li>Задача 83: {{data.task83 }}</li>
	<li>Задача 84: {{data.task84 }}</li>
	<li>Задача 85: {{data.task85 }}</li>
	<li>Задача 86: {{data.task86 }}</li>
	<li>Задача 87: {{data.task87 }}</li>
	<li>Задача 88: {{data.task88 }}</li>
	<li>Задача 89: {{data.task89 }}</li>
	<li>Задача 90: {{data.task90 }}</li>
	<li>Задача 91: {{data.task91 }}</li>
	<li>Задача 92: {{data.task92 }}</li>
	<li>Задача 93: {{data.task93 }}</li>
	<li>Задача 94: {{data.task94 }}</li>
	<li>Задача 95: {{data.task95 }}</li>
	<li>Задача 96: {{data.task96 }}</li>
</ul>
<li>Урок 7</li>
<ul>
	<li>Start: {{data.Start_7 }}</li>
	<li>Help: {{data.Help_7 }}</li>
	<li>Задача 97: {{data.task97 }}</li>
	<li>Задача 98: {{data.task98 }}</li>
	<li>Задача 99: {{data.task99 }}</li>
	<li>Задача 100: {{data.task100 }}</li>
	<li>Задача 101: {{data.task101 }}</li>
	<li>Задача 102: {{data.task102 }}</li>
	<li>Задача 103: {{data.task103 }}</li>
	<li>Задача 104: {{data.task104 }}</li>
	<li>Задача 105: {{data.task105 }}</li>
	<li>Задача 106: {{data.task106 }}</li>
	<li>Задача 107: {{data.task107 }}</li>
	<li>Задача 108: {{data.task108 }}</li>
	<li>Задача 109: {{data.task109 }}</li>
	<li>Задача 110: {{data.task110 }}</li>
	<li>Задача 111: {{data.task111 }}</li>
	<li>Задача 112: {{data.task112 }}</li>
</ul>
<li>Урок 8</li>
<ul>
	<li>Start: {{data.Start_8 }}</li>
	<li>Help: {{data.Help_8 }}</li>
	<li>Задача 113: {{data.task113 }}</li>
	<li>Задача 114: {{data.task114 }}</li>
	<li>Задача 115: {{data.task115 }}</li>
	<li>Задача 116: {{data.task116 }}</li>
	<li>Задача 117: {{data.task117 }}</li>
	<li>Задача 118: {{data.task118 }}</li>
	<li>Задача 119: {{data.task119 }}</li>
	<li>Задача 120: {{data.task120 }}</li>
	<li>Задача 121: {{data.task121 }}</li>
	<li>Задача 122: {{data.task122 }}</li>
	<li>Задача 123: {{data.task123 }}</li>
	<li>Задача 124: {{data.task124 }}</li>
	<li>Задача 125: {{data.task125 }}</li>
	<li>Задача 126: {{data.task126 }}</li>
	<li>Задача 127: {{data.task127 }}</li>
	<li>Задача 128: {{data.task128 }}</li>
	<li>Задача 129: {{data.task129 }}</li>
	<li>Задача 130: {{data.task130 }}</li>
	<li>Задача book: {{data.books113 }}</li>
</ul>
<li>Урок 9</li>
<ul>
	<li>Задача 131: {{data.task131 }}</li>
	<li>Задача 132: {{data.task132 }}</li>
	<li>Задача 133: {{data.task133 }}</li>
	<li>Задача 134: {{data.task134 }}</li>
	<li>Задача 135: {{data.task135 }}</li>
	<li>Задача 136: {{data.task136 }}</li>
	<li>Задача 137: {{data.task137 }}</li>
	<li>Задача 138: {{data.task138 }}</li>
	<li>Задача 139: {{data.task139 }}</li>
	<li>Задача 140: {{data.task140 }}</li>
	<li>Задача 141: {{data.task141 }}</li>
	<li>Задача 142: {{data.task142 }}</li>
	<li>Задача 143: {{data.task143 }}</li>
	<li>Задача 144: {{data.task144 }}</li>
	<li>Задача 145: {{data.task145 }}</li>
	<li>Задача 146: {{data.task146 }}</li>
	<li>Задача 147: {{data.task147 }}</li>
	<li>Задача 148: {{data.task148 }}</li>
	<li>Задача 149: {{data.task149 }}</li>
	<li>Задача 150: {{data.task150 }}</li>
	<li>Задача 151: {{data.task151 }}</li>
	<li>Задача 152: {{data.task152 }}</li>
	<li>Задача 153: {{data.task153 }}</li>
	<li>Задача 154: {{data.task154 }}</li>
	<li>Задача 155: {{data.task155 }}</li>
</ul>
{% endfor %}

	{{messages|safe}}

{{ percents|safe }}

</body>
</html>