{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1 class="display-4">Модули и потоки</h1>
<div class="card-group">
{% for stream in streams %}

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ stream.name }}</div>
  <div class="card-body text-dark">
    <h5 class="card-title"><a href="{% url 'core:module' stream.module.id %}">{{ stream.module.name }}</a></h5>
    <p class="card-text"></p>
  </div>
</div>
{% endfor %}
</div>

<div class="card-group">
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">График</div>
  <div class="card-body text-dark">
    <h5 class="card-title"><a href="{% url 'core:telegram' %}">Telegram</a></h5>
    <p class="card-text">Активность в группах</p>
  </div>
</div>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">График</div>
  <div class="card-body text-dark">
    <h5 class="card-title"><a href="{% url 'core:tone' %}">Тексты</a></h5>
    <p class="card-text">Позитивный и негативный фидбэк по задачам</p>
  </div>
</div>
</div>

</div>
{% endblock %}