{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <!--<link rel="stylesheet" href="{% static 'core/css/eduhund.min.css' %}"/>""" -->
    <title>{% block title %}EduHund{% endblock %} </title>
  </head>
  <body>

<div class='container'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'core:index' %}">EduHund</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active dropdown">
         <a class="nav-link dropdown-toggle" href="{% url 'core:modules' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Модули</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'core:module' 2 %}">Тексты</a>
          <a class="dropdown-item" href="{% url 'core:module' 1 %}">Сценарии</a>
          <a class="dropdown-item" href="{% url 'core:module' 3 %}">Информационные ожидания</a>
        </div>
      </li>
       <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" id='navbarDropdown' role='button' href="{% url 'core:streams' %}" data-toggle="dropdown-menu" aria-haspopup='true' aria-expanded="false">Потоки </a>
        <div class="dropdown-menu" aria-labelled="navbarDropdown" >
          <a class="dropdown-item" href="" ></a>
          <a class="dropdown-item" href=""></a>
          </div>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'core:students' %}">Студенты <span class="sr-only">(current)</span></a>
      </li>
      
      
     
      <li class="nav-item active">
         {% if user.is_authenticated %}<a class="nav-link" href="">Заглушка</a>
         {% else %}<a class="nav-link" href="{% url 'core:login' %}" tabindex="-1">Вход</a>
         {% endif %}
      </li>
    </ul>
        
      {% if user.is_authenticated %}<a class="nav-link" href="{% url 'core:profile' %}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Мой профиль</button></a>{% else %}<a class="nav-link" href="{% url 'core:login' %}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Вход</button></a>{% endif %}
    
  </div>
</nav>
</div>