{% extends 'base.html' %}

{% block content %}


  <form action="" method="POST" class='uniForm'>
    {{ formset.management_form }}
    {% csrf_token %}
    {% for form in formset %}
    Фидбэк
    <p>Задача {{ form.task.initial }}. Урок {{ form.lesson.initial }}</p>
    <p>	{{ form.text.initial }}
    <div class="form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
 <label>{{ form.DELETE.field.field }} {{ form.DELETE.field.label }}</label>
</div>
   		
   {% endfor %}

<div class='form-actions'>
    <input type="submit" value="Submit" class="btn btn-primary">
</div>
  </form>

{% endblock %}
