{% extends 'base.html' %}

{% block content %}


  <form action="" method="POST" class='uniForm'>
    {% csrf_token %}
    {% for form in formset %}
    Фидбэк
    <p>Задача {{ form.task.initial }}. Урок {{ form.lesson.initial }}</p>
    <p>	{{ form.text.initial }}
    <div class="form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
 <label>{{ form.DELETE.field.field }} {{ form.DELETE.field.label }}</label>
</div>
   		
   {% endfor %}

<div class='form-actions'>
    <input type="submit" value="Submit" class="btn btn-primary">
</div>
  </form>


{% for feedback in new_feedbacks %}
<h3>Урок {{feedback.lesson}}. Задача {{ feedback.task}}</h3>
{{ feedback.student_name}} {{feedback.student_family}} {{ feedback.student_email}}
<p>{{ feedback.feedback.0 }}
{% endfor %}

{% endblock %}
