{% extends 'profile_base.html' %}

{% block content %}
<div class="container">
 Мой адрес {{ user.username }}.
  {% if perms.core %}
    {% if perms.core.add_task %}
    <p>Это автор</p>
    <h3>Feedback по модулю {{ module.name }}</h3>
    	<ul>
    	{% for f in feedbacks %}
    		<li>Задача {{f.number }}. {{ f.name }}: {{f.num_feedbacks}} <button type="button" class="btn btn-outline-info btn-sm">{{f.num_unseen}}</button> </li>
    	{% endfor %}
		</ul>
	
    {% else %} 
      <p>Это студент</p>
  {% endif %}
  {% endif %}
</div>
{% endblock %}