{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load thumbnail %}

<div class="card">
	<div class="card-header">Модуль «{{ object.lesson.module.name }}». Урок {{ object.lesson.number }} </div>
  <div class="card-header">Задача {{ object.number }}. {{ object.name }} </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ object.text|safe }}</p>
      {% if object.picture %}<img src="{{ object.show_picture }}" width=500 />{% endif %}
      <footer class="blockquote-footer"><a href="{% url 'core:lesson' object.lesson.id %}">Урок {{ object.lesson.number }}</a> <cite title="Source Title">{{ object.lesson.module.name }}</cite></footer>
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-body">{% if object.next_task %}
    <a href="{% url 'core:task' object.next_task %}">Следующая задача</a>
    {% endif %}
  </div>
</div>

<div class="card">
  <div class="card-body">
    <a href="{% url 'core:solution1' object.id %}">Решать задачу</a>
  </div>
</div>

{{ form }}

<h3 class="display-4">Feedback</h3>
{% for feedback in object.feedbacks.all %}
  {% if not feedback.seen %} 
      <div class="alert alert-primary" role="alert">
        {{ feedback.text }}  (<a href="{% url 'core:student' feedback.student.id %}">{{ feedback.student }}</a>)
      </div> 
    {% else %}
      <li>{{ feedback.text }}  (<a href="{% url 'core:student' feedback.student.id %}"> </a>)</li> 
{% endif %}  
{% endfor %}

<h3 class="display-4">Решения</h3>
{% for solution in object.solutions.all %}
<li> {{ solution.text }} (<a href="{% url 'core:student' solution.student.id %}">{{ solution.student }}</a>) </li>
{% endfor %}

    {% if object.images %}{{ object.images.len }}
        <ol>
        {% for image in object.images.all %}
            {% if image.name != '1' %}
                <li><a href="{% url 'core:student' image.student.id %}">{{ image.student.email }}</a></li>
                 {% thumbnail image.name "100x100" crop="center" as im %}
              <div data-toggle="modal" data-target="#exampleModal{{ image.student.id }}">
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ image.student.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel{{ image.student.id }}">{{ image.student.email }}</h5>
                            </div>
                            <div class="modal-body">
                                <img src="{{ MEDIA_URL }}{{ image.name.url }}" width=500 />
                            </div>
                        </div>
                    </div>
                </div>
            {% endthumbnail %}


            {% endif %}
        {% endfor %}</ol>
    {% endif %}

{% endblock %}
<li><img src="{{ MEDIA_URL }}{{ image.name.url }}" width=500 /></li>